.UserTodaysChecklist {
	background-color: hsl(0, 0%, 17%);
	border-radius: 30px;

	min-width: 190px;
	width: 90vw;
	max-width: 550px;
	min-height: calc(100vh - 70px - 85px - 5vh);

	text-align: center;
}

/* MAI NAP SZÖVEG */
.UserTodaysChecklist > h1 {
	margin-top: 15px;
	color: hsl(0, 0%, 95%);
}

/* MAI TASKOK */
.UserTodaysChecklist-todaysTasks {
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.UserTodaysChecklist-todaysTasks label input {
	width: 22px;
	height: 22px;
	accent-color: hsl(205, 99%, 50%);
	border-radius: 50%;
	cursor: pointer;
}

/* EZEN A HÉTEN SZÖVEG */
.UserTodaysChecklist > h2 {
	margin-top: 30px;
	color: hsl(0, 0%, 60%);
}

/* EHETI TASKOK */
.UserTodaysChecklist-thisWeeksTasks {
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}


















/* CHECKLIST ITEMEK */
.ChecklistItem {
	width: 100%;

	display: grid;
	grid-template-columns: 24px auto;
	gap: 10px;
	cursor: pointer;

	text-align: left;
}
/* Eredeti checkbox eltüntetése */
.ChecklistItem input {
	display: none;
}
/* Custom négyzet */
.checkmark {
	width: 24px;
	height: 24px;
	border: 1.5px solid hsl(0, 0%, 60%);
	border-radius: 50%;
	display: inline-block;
	position: relative;
}
/* Kipipált állapot */
.ChecklistItem input:checked + .checkmark {
	background-color: hsl(205, 99%, 50%);
	border-color: hsl(205, 99%, 50%);
}
/* Pipa */
.ChecklistItem input:checked + .checkmark::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 1px;
	width: 8px;
	height: 16px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
