.UserNotCompletedGoals {
	max-width: 550px;
	margin: auto;
	min-height: calc(100vh - 75px - 75px);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;

	padding-left: 1.25vw;
	padding-right: 1.25vw;
	gap: 1.5vw;
}


.UserNotCompletedGoals > .goal {
	border-radius: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;

    text-align: center;
}
.UserNotCompletedGoals > .goal > .goal-icon {
	width: 50px;
	height: 50px;
}
.UserNotCompletedGoals > .goal > .goal-title {
    font-size: 22px;
    font-weight: 500;

    margin-bottom: 10px;
}
.UserNotCompletedGoals > .goal > .goal-deadline {
    font-size: 14px;
    color: hsl(0, 0%, 85%);
}





.UserNotCompletedGoals > .WHITE {
    background-color: hsl(167, 100%, 98%);
}
.UserNotCompletedGoals > .ORANGE {
    background-color: hsl(28, 93%, 53%);
}
.UserNotCompletedGoals > .MAGENTA {
    background-color: hsl(305, 52%, 54%);
}
.UserNotCompletedGoals > .LIGHT_BLUE {
    background-color: hsl(195, 67%, 54%);
}
.UserNotCompletedGoals > .YELLOW {
    background-color: hsl(48, 99%, 62%);
}
.UserNotCompletedGoals > .LIME {
    background-color: hsl(85, 73%, 45%);
}
.UserNotCompletedGoals > .PINK {
    background-color: hsl(343, 81%, 75%);
}
.UserNotCompletedGoals > .GRAY {
    background-color: hsl(196, 8%, 30%);
}
.UserNotCompletedGoals > .LIGHT_GRAY {
    background-color: hsl(60, 3%, 60%);
}
.UserNotCompletedGoals > .CYAN {
    background-color: hsl(180, 75%, 35%);
}
.UserNotCompletedGoals > .PURPLE {
    background-color: hsl(279, 57%, 46%);
}
.UserNotCompletedGoals > .BLUE {
    background-color: hsl(236, 48%, 45%);
}
.UserNotCompletedGoals > .BROWN {
    background-color: hsl(25, 45%, 35%);
}
.UserNotCompletedGoals > .GREEN {
    background-color: hsl(78, 70%, 29%);
}
.UserNotCompletedGoals > .RED {
    background-color: hsl(4, 64%, 42%);
}
.UserNotCompletedGoals > .BLACK {
    background-color: hsl(240, 7%, 12%);
}