.UserNavbar {
	background-color: hsla(0, 0%, 15%, 0.75);
	backdrop-filter: blur(1.5px);
	/* For some browsers, also include this */
	-webkit-backdrop-filter: blur(1.5px);
	border: 1.5px solid hsl(0, 0%, 30%, 0.9);
	border-top: 1.5px solid hsl(0, 0%, 40%, 0.9);
	border-bottom: 1.5px solid hsl(0, 0%, 35%, 0.9);
	border-radius: 100000000000000000000000px;

	width: fit-content;
	padding: 3px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.UserNavbar a {
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 200px;

	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.UserNavbar a svg {
	fill: hsl(0, 0%, 100%);
	height: 38px;
	width: 38px;
}
.UserNavbar a p {
	color: hsl(0, 50%, 100%);
	font-size: 12px;
	user-select: none;
}




.UserNavbar a.active {
	background-color: hsla(0, 0%, 45%, 0.5);
}
.UserNavbar a.active svg {
	fill: hsl(205, 99%, 60%);
}
.UserNavbar a.active p {
	color: hsl(205, 99%, 60%);
}
