.UserTodaysChecklist {
	max-width: 550px;
	margin: auto;
	min-height: calc(100vh - 70px - 85px);

	padding-left: 10px;
	padding-right: 10px;
}

/* MAI NAP SZÖVEG */
.UserTodaysChecklist > h1 {
	margin-bottom: 5px;
	color: hsl(0, 0%, 95%);
	text-align: center;
	font-weight: 550;
}

/* EZEN A HÉTEN SZÖVEG */
.UserTodaysChecklist > h2 {
	margin-top: 45px;
	margin-bottom: 5px;
	color: hsl(0, 0%, 40%);
	text-align: center;
	font-weight: 500;
}

/* TASKOK */
.UserTodaysChecklist-todaysTasks,
.UserTodaysChecklist-thisWeeksTasks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.UserTodaysChecklist-thisWeeksTasks .ChecklistItem {
	color: hsl(0, 0%, 40%);
}

/* CHECKLIST ITEMEK */
/* CHECKBOX ITEM */
.ChecklistItem {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	cursor: pointer;
	font-size: 21px;
	user-select: none;
}
/* input elrejtése */
.ChecklistItem input {
	display: none;
}
/* alap checkbox (UNCHECKED) */
.checkmark {
	width: 26px;
	height: 26px;
	flex-shrink: 0;

	border: 2px solid hsl(0, 0%, 40%);
	border-radius: 50%; /* kör */
    fill: black;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease;
}
/* CHECKED state */
.ChecklistItem input:checked + .checkmark {
	background-color: hsl(205, 99%, 50%); /* kék */
	border: none; /* keret eltűnik */
}
