.UserNotCompletedGoals {
	max-width: 550px;
	margin: auto;
	min-height: calc(100vh - 70px - 85px);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;

	gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.UserNotCompletedGoals > .notCompletedGoal {
	border-radius: 30px;

	display: grid;
	grid-template-columns: 1fr 1.5fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"title title"
		"icon deadline";

	text-align: center;
}
.UserNotCompletedGoals > .notCompletedGoal {
    transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;
}
.UserNotCompletedGoals > .notCompletedGoal:hover {
    cursor: pointer;
}
.UserNotCompletedGoals > .notCompletedGoal:active {
    transform: scale(1.04);
    filter: brightness(1.11);
}

.UserNotCompletedGoals > .notCompletedGoal > .notCompletedGoal-title {
	grid-area: title;
    user-select: none;
	font-size: 22px;
	font-weight: 550;
	color: hsl(0, 0%, 100%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.UserNotCompletedGoals > .notCompletedGoal > .notCompletedGoal-icon > svg {
	grid-area: icon;
	width: 55px;
	height: 55px;
	fill: hsl(0, 0%, 100%);
	color: hsl(0, 0%, 100%);
}
.UserNotCompletedGoals > .notCompletedGoal > .notCompletedGoal-icon {
    user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.UserNotCompletedGoals > .notCompletedGoal > .notCompletedGoal-deadline {
	grid-area: deadline;
    user-select: none;
	font-size: 14px;
	color: hsla(0, 0%, 100%, 0.8);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.UserNotCompletedGoals > .notCompletedGoal > .notCompletedGoal-deadline > .notCompletedGoal-deadline-days {
	font-size: 20px;
	font-weight: 350;
	color: hsla(0, 0%, 100%, 0.8);
}

.UserNotCompletedGoals > .RED {
	background-color: hsl(0, 63.2%, 63.3%);
	background: linear-gradient(0deg, hsl(0, 63.2%, 53.3%), hsl(0, 63.2%, 63.3%));
	border: 2px solid hsl(0, 63.2%, 73.3%);
	border-top: 2px solid hsl(0, 63.2%, 83.3%);
}

.UserNotCompletedGoals > .CORAL {
	background-color: hsl(13.2, 77.2%, 66.1%);
	background: linear-gradient(0deg, hsl(13.2, 77.2%, 56.1%), hsl(13.2, 77.2%, 66.1%));
	border: 2px solid hsl(13.2, 77.2%, 76.1%);
	border-top: 2px solid hsl(13.2, 77.2%, 86.1%);
}

.UserNotCompletedGoals > .ORANGE {
	background-color: hsl(32.1, 74.2%, 62.1%);
	background: linear-gradient(0deg, hsl(32.1, 74.2%, 52.1%), hsl(32.1, 74.2%, 62.1%));
	border: 2px solid hsl(32.1, 74.2%, 72.1%);
	border-top: 2px solid hsl(32.1, 74.2%, 82.1%);
}

.UserNotCompletedGoals > .YELLOW {
	background-color: hsl(48.2, 71.2%, 56.5%);
	background: linear-gradient(0deg, hsl(48.2, 71.2%, 46.5%), hsl(48.2, 71.2%, 56.5%));
	border: 2px solid hsl(48.2, 71.2%, 66.5%);
	border-top: 2px solid hsl(48.2, 71.2%, 76.5%);
}

.UserNotCompletedGoals > .GREEN {
	background-color: hsl(120, 41.6%, 55.7%);
	background: linear-gradient(0deg, hsl(120, 41.6%, 45.7%), hsl(120, 41.6%, 55.7%));
	border: 2px solid hsl(120, 41.6%, 65.7%);
	border-top: 2px solid hsl(120, 41.6%, 75.7%);
}

.UserNotCompletedGoals > .CYAN {
	background-color: hsl(164.4, 46%, 55.7%);
	background: linear-gradient(0deg, hsl(164.4, 46%, 45.7%), hsl(164.4, 46%, 55.7%));
	border: 2px solid hsl(164.4, 46%, 65.7%);
	border-top: 2px solid hsl(164.4, 46%, 75.7%);
}

.UserNotCompletedGoals > .LIGHT-BLUE {
	background-color: hsl(201.1, 68%, 69.7%);
	background: linear-gradient(0deg, hsl(201.1, 68%, 59.7%), hsl(201.1, 68%, 69.7%));
	border: 2px solid hsl(201.1, 68%, 79.7%);
	border-top: 2px solid hsl(201.1, 68%, 89.7%);
}

.UserNotCompletedGoals > .BLUE {
	background-color: hsl(216.2, 90.6%, 61.3%);
	background: linear-gradient(0deg, hsl(216.2, 90.6%, 51.3%), hsl(216.2, 90.6%, 61.3%));
	border: 2px solid hsl(216.2, 90.6%, 71.3%);
	border-top: 2px solid hsl(216.2, 90.6%, 81.3%);
}

.UserNotCompletedGoals > .INDIGO {
	background-color: hsl(227.1, 46.1%, 52.4%);
	background: linear-gradient(0deg, hsl(227.1, 46.1%, 42.4%), hsl(227.1, 46.1%, 52.4%));
	border: 2px solid hsl(227.1, 46.1%, 62.4%);
	border-top: 2px solid hsl(227.1, 46.1%, 72.4%);
}

.UserNotCompletedGoals > .PURPLE {
	background-color: hsl(263.7, 36.9%, 49.7%);
	background: linear-gradient(0deg, hsl(263.7, 36.9%, 39.7%), hsl(263.7, 36.9%, 49.7%));
	border: 2px solid hsl(263.7, 36.9%, 59.7%);
	border-top: 2px solid hsl(263.7, 36.9%, 69.7%);
}

.UserNotCompletedGoals > .MAGENTA {
	background-color: hsl(272, 51.5%, 63.2%);
	background: linear-gradient(0deg, hsl(272, 51.5%, 53.2%), hsl(272, 51.5%, 63.2%));
	border: 2px solid hsl(272, 51.5%, 73.2%);
	border-top: 2px solid hsl(272, 51.5%, 83.2%);
}

.UserNotCompletedGoals > .PINK {
	background-color: hsl(315.5, 54.9%, 68.2%);
	background: linear-gradient(0deg, hsl(315.5, 54.9%, 58.2%), hsl(315.5, 54.9%, 68.2%));
	border: 2px solid hsl(315.5, 54.9%, 78.2%);
	border-top: 2px solid hsl(315.5, 54.9%, 88.2%);
}

.UserNotCompletedGoals > .GRAY {
	background-color: hsl(210, 7.7%, 54.3%);
	background: linear-gradient(0deg, hsl(210, 7.7%, 44.3%), hsl(210, 7.7%, 54.3%));
	border: 2px solid hsl(210, 7.7%, 64.3%);
	border-top: 2px solid hsl(210, 7.7%, 74.3%);
}

.UserNotCompletedGoals > .SAGE {
	background-color: hsl(120, 9.9%, 62.3%);
	background: linear-gradient(0deg, hsl(120, 9.9%, 52.3%), hsl(120, 9.9%, 62.3%));
	border: 2px solid hsl(120, 9.9%, 72.3%);
	border-top: 2px solid hsl(120, 9.9%, 82.3%);
}

.UserNotCompletedGoals > .BEIGE {
	background-color: hsl(34.5, 23.9%, 61.4%);
	background: linear-gradient(0deg, hsl(34.5, 23.9%, 51.4%), hsl(34.5, 23.9%, 61.4%));
	border: 2px solid hsl(34.5, 23.9%, 71.4%);
	border-top: 2px solid hsl(34.5, 23.9%, 81.4%);
}




.UserNotCompletedGoals-editGoalPopup {
	position: fixed;
	inset: 0;
	z-index: 20;
	background: hsla(0, 0%, 0%, 0.7);
	display: flex;
	justify-content: center;
	align-items: flex-end;

	animation: fadeIn 0.2s ease-out forwards;
}
.UserNotCompletedGoals-editGoalPopup.closing {
	animation: fadeOut 0.2s ease-out forwards;
}
.UserEditNotCompletedGoalPopup {
	background-color: hsl(0, 0%, 14%);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	width: 100%;
	height: calc(100vh - 25px);
    overflow-y: auto;

	animation: slideUp 0.2s ease-out forwards;
}
.UserNotCompletedGoals-editGoalPopup.closing .UserEditNotCompletedGoalPopup {
	animation: slideDown 0.2s ease-out forwards;
}



@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(20vh);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes slideDown {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(20vh);
	}
}






/*

Minecraft dye colors

.UserNotCompletedGoals > .WHITE {
	background-color: hsl(167, 100%, 98%);
}
.UserNotCompletedGoals > .ORANGE {
	background-color: hsl(28, 93%, 42.4%);
}
.UserNotCompletedGoals > .MAGENTA {
	background-color: hsl(305, 52%, 43.2%);
}
.UserNotCompletedGoals > .LIGHT_BLUE {
	background-color: hsl(195, 67%, 43.2%);
}
.UserNotCompletedGoals > .YELLOW {
	background-color: hsl(48, 99%, 49.6%);
}
.UserNotCompletedGoals > .LIME {
	background-color: hsl(85, 73%, 36%);
}
.UserNotCompletedGoals > .PINK {
	background-color: hsl(343, 81%, 60%);
}
.UserNotCompletedGoals > .GRAY {
	background-color: hsl(196, 8%, 24%);
}
.UserNotCompletedGoals > .LIGHT_GRAY {
	background-color: hsl(60, 3%, 48%);
}
.UserNotCompletedGoals > .CYAN {
	background-color: hsl(180, 75%, 28%);
}
.UserNotCompletedGoals > .PURPLE {
	background-color: hsl(279, 57%, 36.8%);
}
.UserNotCompletedGoals > .BLUE {
	background-color: hsl(236, 48%, 36%);
}
.UserNotCompletedGoals > .BROWN {
	background-color: hsl(25, 45%, 28%);
}
.UserNotCompletedGoals > .GREEN {
	background-color: hsl(78, 70%, 23.2%);
}
.UserNotCompletedGoals > .RED {
	background-color: hsl(4, 64%, 33.6%);
}
.UserNotCompletedGoals > .BLACK {
	background-color: hsl(240, 7%, 9.6%);
}

*/
