/*
    -- dark mode --
    backgrounds:         0?
    background panels:   5?
    elements:           10?
    buttons:            20?
*/


@font-face {
	font-family: "Lexend";
	src: url("./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}


* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;

	font-family: "Lexend", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-optical-sizing: auto;
	color: hsl(0, 0%, 95%);
}
html,
body,
#root,
.App {
	background-color: hsl(0, 0%, 0%);
}


body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
