/*
    -- dark mode --
    backgrounds:         0?
    background panels:   5?
    elements:           10?
    buttons:            20?
*/

@font-face {
	font-family: "Lexend";
	src: url("./fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
    font-optical-sizing: auto;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
}

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;

    
	font-family: "Lexend", sans-serif;
    font-weight: 375;
	font-optical-sizing: auto;
	font-style: normal;
	color: hsl(0, 0%, 95%);
    

    /*
	font-family: "Inter", sans-serif;
    font-weight: 400;
	font-optical-sizing: auto;
	font-style: normal;
	color: hsl(0, 0%, 95%);
    */
}
html,
body,
#root,
.App {
	background-color: hsl(0, 0%, 0%);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}



button {
    transition: transform 0.15s ease-in-out, filter 0.15s ease-in-out;
}
button:hover {
    cursor: pointer;
}
button:active {
    transform: scale(1.1);
    filter: brightness(1.3);
}